body{
  font-family: 'Source Sans Pro', sans-serif;
}
.Topbar{
  width: 100%;
  background-color: black;
  padding: 24px 48px 12px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}


.Topbar > img{
  width: 100px;
}
.MainContainer {
  padding: 4% 12%;
  margin-top: 32px;
  display:flex;
  align-items: center;
  box-sizing: border-box;
}
.ProductPreview{
  width: 50%;
}
.ProductPreview > img{
  width: 50%;
}

.ProductData {
  width: 50%;
}
.ProductTitle{
  font-size: 48px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;

}
.ProductDescription{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);  
  margin-bottom: 16px;
  margin-top: 0;
  
}
.SectionHeading{
  font-size: 28px;
  margin-bottom: 8px;
}
.ProductIamge{
  width: 100%;
  max-width: 80px;


  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}
.SelectedProductImage{
  border: 2px solid teal;
}